.task-list{
	input.ng-pristine.ng-valid.ng-touched{
		padding: 10px !important;
	}
}
#inputLabel{
	background: transparent !important;
	border: none !important;
	padding: 10px !important;
	box-shadow: none !important;
	border-bottom: 1px solid #cccccc !important;
}
.item-stacked-label{
	padding: 20px 10px !important;
}
.button-login-wrapper{
	text-align: center;
	button{
		display: block;
		margin: 0 auto;
	}
}