.profile-photo-wrapper{
	position: relative;
	text-align: center;
}
.profile-photo{
	border-radius: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-bottom: 10px;
}
.profile-top{
	text-align: center;
}