.ion-chevron-right{
	position: absolute;
	right: 3%;
}
.home-heading{
	padding-left: 15px !important;
	h2{
		color: white !important;
		font-weight: bold !important;
		font-size: 30px !important;
	}
}
.search-wrapper{
	margin-top: 0 !important;
}
.desc-help-text{
	padding: 15px;
}