<ion-view view-title="Tasks">
  <ion-content class="content-start">
   <div class="task-wrapper row row-center">
    <div class="task-picture-wrapper col col-20">
    <img class="task-picture" src="img/groceries.jpg"/>
    </div>
    <div class="price-wrapper col-30">
      <div class="price">
        40$
      </div>
    </div>
    <div class="col col-60 description-wrapper">
      In need of someone to go to the local walmart and bring me the following: Eggs, Milk, Cookies,.....
    </div>
   </div>

   <div class="task-wrapper row row-center">
    <div class="task-picture-wrapper col col-20">
    <img class="task-picture" src="img/groceries.jpg"/>
    </div>
    <div class="price-wrapper col-30">
      <div class="price">
        40$
      </div>
    </div>
    <div class="col col-60 description-wrapper">
      In need of someone to go to the local walmart and bring me the following: Eggs, Milk, Cookies,.....
    </div>
   </div>

   <div class="task-wrapper row row-center">
    <div class="task-picture-wrapper col col-20">
    <img class="task-picture" src="img/groceries.jpg"/>
    </div>
    <div class="price-wrapper col-30">
      <div class="price">
        40$
      </div>
    </div>
    <div class="col col-60 description-wrapper">
      In need of someone to go to the local walmart and bring me the following: Eggs, Milk, Cookies,.....
    </div>
   </div>
   <div class="task-wrapper row row-center">
    <div class="task-picture-wrapper col col-20">
    <img class="task-picture" src="img/groceries.jpg"/>
    </div>
    <div class="price-wrapper col-30">
      <div class="price">
        40$
      </div>
    </div>
    <div class="col col-60 description-wrapper">
      In need of someone to go to the local walmart and bring me the following: Eggs, Milk, Cookies,.....
    </div>
   </div>
   <div class="task-wrapper row row-center">
    <div class="task-picture-wrapper col col-20">
    <img class="task-picture" src="img/groceries.jpg"/>
    </div>
    <div class="price-wrapper col-30">
      <div class="price">
        40$
      </div>
    </div>
    <div class="col col-60 description-wrapper">
      In need of someone to go to the local walmart and bring me the following: Eggs, Milk, Cookies,.....
    </div>
   </div>
   <div class="task-wrapper row row-center">
    <div class="task-picture-wrapper col col-20">
    <img class="task-picture" src="img/groceries.jpg"/>
    </div>
    <div class="price-wrapper col-30">
      <div class="price">
        40$
      </div>
    </div>
    <div class="col col-60 description-wrapper">
      In need of someone to go to the local walmart and bring me the following: Eggs, Milk, Cookies,.....
    </div>
   </div>
   <div class="task-wrapper row row-center">
    <div class="task-picture-wrapper col col-20">
    <img class="task-picture" src="img/groceries.jpg"/>
    </div>
    <div class="price-wrapper col-30">
      <div class="price">
        40$
      </div>
    </div>
    <div class="col col-60 description-wrapper">
      In need of someone to go to the local walmart and bring me the following: Eggs, Milk, Cookies,.....
    </div>
   </div>
     

  </ion-content>
</ion-view>
