<ion-view view-title="Tasks">
  <ion-content class="padding">
  <div class="list card">
    <div class="item item-avatar home-heading bar bar-energized">
      <h2>In Progress</h2>
    </div>
    <div class="item item-body">
    <ul class="list">
      <li class="item" ng-repeat="task in progressTasks" ng-click="goToTaskDetail(task.id)"> 
          {{task.get('title')}}
          <img class="job-pic" ng-src="{{task.attributes.image}}"/>
          <i class="ion-chevron-right"></i>
      </li>
    </ul>
    </div>
  </div>

  <div class="list card">
    <div class="item item-avatar home-heading bar bar-balanced">
      <h2>Completed</h2>
    </div>
    <div class="item item-body">
      <ul class="list tasks-in-progress">
        <li class="item" ng-repeat="task in completedTasks"
            ng-click="goToTaskDetail(task.id)" class="item">
            {{task.get('title')}}
            <img class="job-pic" ng-src="{{task.attributes.image}}"/>
            <i class="ion-chevron-right"></i>
        </li>
      </ul>
    </div>
  </div>
  <a href="/#/tab/home" class="button button-full button-dark">View More Jobs</a>
  </ion-content>
</ion-view>
