<ion-view view-title="Profile" cache-view="false">

   <ion-content class="padding">
      <ion-item class="profile-top">
        <div class="profile-photo-wrapper">
          <img class="profile-photo" ng-src="img/{{userProfile.get('image')}}">
        </div>
        <p>{{userProfile.get('username')}}</p> 
      </ion-item> 
      <div class="card">
        <div class="item item-text-wrap">
          Rating: <i class="ion-star"></i><i class="ion-star"></i><i class="ion-star"></i>
          <!-- <rating ng-model="data.rating" max="data.max"></rating> -->
        </div>
        <div class="item item-text-wrap">
          Biography: {{userProfile.get('bio')}}
        </div>
      </div>
      <button class="button button-block button-assertive" ng-click="logout()">Log Out</button>

      <!-- if not same peron -->
      <button class="button button-block button-positive" ng-click="openMessageModal()">
        Send Message
      </button>
</ion-view>
