<ion-view view-title="My Tasks" cache-view="false">
  <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-plus" ng-click="addNewTask()"></a>
    </ion-nav-buttons>
  <ion-content class="padding">
  <h2>Submitted</h2>

    <ul class="list tasks-in-progress">
      <li ng-repeat="item in taskList | filter:submittedFilter" 
          ng-click="goToTaskDetail(item)" class="item">
          {{item.get('title')}}
          <i class="ion-chevron-right"></i>
      </li>
    </ul>

    <h2>In progress</h2>

      <ul class="list tasks-in-progress">
        <li ng-repeat="item in taskList | filter:inProgressFilter" 
            ng-click="goToTaskDetail(item)" class="item">
            {{item.get('title')}}
            <i class="ion-chevron-right"></i>
        </li>
      </ul>

    <h2>Completed</h2>
    <ul class="list tasks-in-progress">
      <li ng-repeat="item in taskList | filter:completedFilter" ng-click="goToTaskDetail({{item}})"  class="item">
      {{item.get('title')}}
      <i class="ion-chevron-right"></i></li>
    </ul>
  </ion-content>
</ion-view>
